
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  text-decoration: underline;
  color: rgb(153, 17, 17);
}

.time-button {
  margin: 10px;
  background-color: transparent;
  border: 1px solid currentColor;
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
  color: rgb(168, 30, 30);
  overflow: hidden;
}

.time-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(241, 163, 163);
  z-index: -1;
  transform: scaleX(0) skewX(-89deg);
  transition: transform 0.3s;
  transform-origin: right bottom;
}

.time-button:hover::after {
  transform: scaleX(1);
  transform-origin: left top;
}
